<div class="container">
  <h2>Cálculo de CDB</h2>
  <form #appForm="ngForm" (ngSubmit)="submitForm()">
    <div>
      <label for="valorInicial">Valor Inicial:</label>
      <input type="number" id="valorInicial" name="valorInicial" required [(ngModel)]="valorInicial" min="1">
    </div>
    <div>
      <label for="prazoMeses">Prazo em Meses:</label>
      <input type="number" id="prazoMeses" name="prazoMeses" required [(ngModel)]="prazoMeses" min="2">
    </div>
    <button type="submit">Calcular</button>
  </form>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="rendimentoBruto !== null && rendimentoLiquido !== null">
    <p>Rendimento Bruto: {{ rendimentoBruto | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>Rendimento Líquido: {{ rendimentoLiquido | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>
</div>
